<div class="reportSection tableContainer">
  {{#hasModified}}
    <h4>Total Cumulative Effects</h4>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Mean</th>
          <th>Standard Deviation</th>
          <th>Minimum</th>
          <th>Maximum</th>
        </tr>
      </thead>
      <tbody>
        {{#totals}}
        <tr>
          <td>{{VERSION}}</td>
          <td>{{MEAN}}</td>
          <td>{{STDEV}}</td>
          <td>{{MIN}}</td>
          <td>{{MAX}}</td>
        </tr>
        {{/totals}}
      </tbody>
    </table>
  </div>
{{/hasModified}}
{{^hasModified}}
    <h4>Total Cumulative Effects</h4>
    <table>
      <thead>
        <tr>
          <th>Mean</th>
          <th>Standard Deviation</th>
          <th>Minimum</th>
          <th>Maximum</th>
        </tr>
      </thead>
      <tbody>
        {{#totals}}
        <tr>
          <td>{{MEAN}}</td>
          <td>{{STDEV}}</td>
          <td>{{MIN}}</td>
          <td>{{MAX}}</td>
        </tr>
        {{/totals}}
      </tbody>
    </table>
    <tfoot>
      <tr colspan="4">
        <td><div style="width:100%;text-align:center;margin-top:5px;"><i>Note: no stressors were changed from the default values</i></div></td>
      </tr> 
    </tfoot>
  </div>
{{/hasModified}}

<div class="reportSection tableContainer">
  <h4>Cumulative Effects For Each Stressor</h4>
  {{#d3IsPresent}}
    <table data-paging="10" class="stressor_table">
      <thead>
        <tr>
          <th style="width:60%;"><a class="stressor_name sort_down" href="#">Stressor Name</a></th>
          <th class="sorting_col"><a class="stressor_perc_adj sort_up" href="#">% Adjustment (100 is unmodified)</a></th>
          <th><a class="stressor_perc_tot sort_down" href="#">% of Total Impact</a></th>
        </tr>

      </thead>
      <tbody class="stressor_values"></tbody>
    </table>
  {{/d3IsPresent}}

  {{^d3IsPresent}}
    <table data-paging="10">
      <thead>
        <tr>
          <th>Stressor Name</th>
          <th>Impact</th>
          <th>% Adjustment</th>
          <th>% of Total Impact</th>
        </tr>
      </thead>
      <tbody>
        {{#stressors}}
        <tr>
          <td style="text-align:center;">{{NAME}}</td>
          <td>{{PERC_MOD}}</td>
          <td>{{PERC_TOT}}</td>
        </tr>
        {{/stressors}}
      </tbody>
    </table>
  {{/d3IsPresent}}
</div>