<div class="reportSection tableContainer">
  {{#hasModified}}
    <h4>Total Cumulative Effects</h4>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Mean</th>
          <th>Standard Deviation</th>
          <th>Minimum</th>
          <th>Maximum</th>
        </tr>
      </thead>
      <tbody>
        {{#totals}}
        <tr>
          <td>{{VERSION}}</td>
          <td>{{MEAN}}</td>
          <td>{{STDEV}}</td>
          <td>{{MIN}}</td>
          <td>{{MAX}}</td>
        </tr>
        {{/totals}}
      </tbody>
    </table>
  </div>
{{/hasModified}}
{{^hasModified}}
    <h4>Total Cumulative Effects</h4>
    <table>
      <thead>
        <tr>
          <th>Mean</th>
          <th>Standard Deviation</th>
          <th>Minimum</th>
          <th>Maximum</th>
        </tr>
      </thead>
      <tbody>
        {{#totals}}
        <tr>
          <td>{{MEAN}}</td>
          <td>{{STDEV}}</td>
          <td>{{MIN}}</td>
          <td>{{MAX}}</td>
        </tr>
        {{/totals}}
      </tbody>
    </table>
    <tfoot>
      <tr colspan="4">
        <td><div style="width:100%;text-align:center;margin-top:5px;"><i>Note: no stressors were changed from the default values</i></div></td>
      </tr> 
    </tfoot>
  </div>
{{/hasModified}}

<div class="reportSection tableContainer">
  <h4>Cumulative Effects For Each Stressor</h4>
    <p>
      <span>Show Stressor Scores for Habitats:</span>
      <span><select class="chosen-habs">
        {{#habitatsForStressors}}
          <option {{sel}} value="{{VAL}}">{{DISPLAY}}</option>
        {{/habitatsForStressors}}
      </select>
      </span>
    </p>

  {{#d3IsPresent}}
    
      <table class="stressor_table">
        <thead>
          <tr>
            <th style="width:60%;"><a class="stressor_name sort_down" href="#">Stressor Name</a></th>
            <th class="sorting_col"><a class="stressor_perc_adj sort_up" href="#">% Adjustment (100 is unmodified)</a></th>
            <th><a class="stressor_perc_tot sort_down" href="#">% of Total Impact</a></th>
          </tr>
        </thead>
        <tbody class="stressor_values"></tbody>
      </table>
      <div class='no-stressor-results'>There are no stressors with cumulative impacts &gt; 0</div>
      <div class="show-nonzero-checkbox">
      <input class="show_nonzero" checked type="checkbox" name="show_nonzero" value="show_nonzero">
        <span>Only show stressors with cumulative impacts &gt; 0</span>
      </div>
  {{/d3IsPresent}}

</div>